.container{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 300px;

}
.box{
    margin: 5px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    
}
.box.show{
    opacity: 1;
    transition: all 3s ease;
    transform: translate(x);
    
    

}


